/* font-weight: 300 */
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 300;
  src:  /* IE6-8 */ url("./woff/Dana-FaNum-Light.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./woff2/Dana-FaNum-Light.woff2") format("woff2"); /* FF39+,Chrome36+, Opera24+*/
}


/* font-weight 500 */
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 500;
  src: /* IE6-8 */ url("./woff/Dana-FaNum-Medium.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./woff2/Dana-FaNum-Medium.woff2") format("woff2"); /* FF39+,Chrome36+, Opera24+*/
}

/* font-weight 700 */
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 700;
  src: /* IE6-8 */ url("./woff/Dana-FaNum-Bold.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./woff2/Dana-FaNum-Bold.woff2") format("woff2"); /* FF39+,Chrome36+, Opera24+*/
}

