/* font-weight: 300 */
@font-face {
  font-family: "YekanBakh";
  font-weight: 300;
  font-style: normal;
  src: url("./woff/YekanBakhFaNumRegular.woff") format("woff"),
    url("./woff2/YekanBakhFaNumRegular.woff2") format("woff2");
}

/* font-weight: 400 */
@font-face {
  font-family: "YekanBakh";
  font-weight: 400;
  font-style: normal;
  src: url("./woff/YekanBakhFaNumRegular.woff") format("woff"),
    url("./woff2/YekanBakhFaNumRegular.woff2") format("woff2");
}

/* font-weight: 500 */
@font-face {
  font-family: "YekanBakh";
  font-weight: 500;
  font-style: normal;
  src: url("./woff/YekanBakhFaNumMedium.woff") format("woff"),
    url("./woff2/YekanBakhFaNumMedium.woff2") format("woff2");
}

/* font-weight: 700 */
@font-face {
  font-family: "YekanBakh";
  font-weight: 700;
  font-style: normal;
  src: url("./woff/YekanBakhFaNumBold.woff") format("woff"),
    url("./woff2/YekanBakhFaNumBold.woff2") format("woff2");
}

/* font-weight: 900 */
@font-face {
  font-family: "YekanBakh";
  font-weight: 900;
  font-style: normal;
  src: url("./woff/YekanBakhFaNumHeavy.woff") format("woff"),
    url("./woff2/YekanBakhFaNumHeavy.woff2") format("woff2");
}

/* font-weight: 1000 */
@font-face {
  font-family: "YekanBakh";
  font-weight: 1000;
  font-style: normal;
  src: url("./woff/YekanBakhFaNumFat.woff") format("woff"),
    url("./woff2/YekanBakhFaNumFat.woff2") format("woff2");
}
