/* font-weight: 500 */
@font-face {
  font-family: roya;
  font-style: normal;
  font-weight: 500;
  src: url("./woff/W_roya.woff") format("woff"),
    url("./woff2/Far_Roya.woff2") format("woff2");
}

/* font-weight: 700 */
@font-face {
  font-family: roya;
  font-style: normal;
  font-weight: 700;
  src: url("./woff/Far_RoyaBd.woff") format("woff"),
    url("./woff2/W_royaBold.woff2") format("woff2");
}
