@font-face {
    font-family: 'Ray Extra';
    src: url('Ray-ExtraBold.eot');
    src: url('Ray-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Ray-ExtraBold.woff2') format('woff2'),
        url('Ray-ExtraBold.woff') format('woff'),
        url('Ray-ExtraBold.ttf') format('truetype'),
        url('Ray-ExtraBold.svg#Ray-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ray';
    src: url('Ray-Bold.eot');
    src: url('Ray-Bold.eot?#iefix') format('embedded-opentype'),
        url('Ray-Bold.woff2') format('woff2'),
        url('Ray-Bold.woff') format('woff'),
        url('Ray-Bold.ttf') format('truetype'),
        url('Ray-Bold.svg#Ray-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ray';
    src: url('Ray-Black.eot');
    src: url('Ray-Black.eot?#iefix') format('embedded-opentype'),
        url('Ray-Black.woff2') format('woff2'),
        url('Ray-Black.woff') format('woff'),
        url('Ray-Black.ttf') format('truetype'),
        url('Ray-Black.svg#Ray-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ray';
    src: url('Ray.eot');
    src: url('Ray.eot?#iefix') format('embedded-opentype'),
        url('Ray.woff2') format('woff2'),
        url('Ray.woff') format('woff'),
        url('Ray.ttf') format('truetype'),
        url('Ray.svg#Ray') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ray';
    src: url('Ray-Medium.eot');
    src: url('Ray-Medium.eot?#iefix') format('embedded-opentype'),
        url('Ray-Medium.woff2') format('woff2'),
        url('Ray-Medium.woff') format('woff'),
        url('Ray-Medium.ttf') format('truetype'),
        url('Ray-Medium.svg#Ray-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ray';
    src: url('Ray-Light.eot');
    src: url('Ray-Light.eot?#iefix') format('embedded-opentype'),
        url('Ray-Light.woff2') format('woff2'),
        url('Ray-Light.woff') format('woff'),
        url('Ray-Light.ttf') format('truetype'),
        url('Ray-Light.svg#Ray-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

