/* font-weight 400 */
@font-face {
  font-family: "pelak";
  font-style: normal;
  font-weight: 400;
  src: url("./woff/Pelak-Medium.woff") format("woff"),
    url("./woff2/Pelak-Medium.woff2") format("woff2");
}

/* font-weight 700 */
@font-face {
  font-family: "pelak";
  font-style: normal;
  font-weight: 700;
  src: url("./woff/Pelak-Bold.woff") format("woff"),
    url("./woff2/Pelak-Bold.woff2") format("woff2");
}

/* font-weight: 900 */
@font-face {
  font-family: "pelak";
  font-style: normal;
  font-weight: 900;
  src: url("./woff/PelakFA-ExtraBold.woff") format("woff"),
    url("./woff2/PelakFA-ExtraBold.woff2") format("woff2");
}
