@import url(../fonts/IRANSansX/iranSans.css);
@import url(../fonts/javan/javan.css);

$primary_color_1: #10945f;
$primary_color_2: #f05022;
$primary_color_3: #fff;
$primary_color_4: #5c5c5c;
$primary_color_5: #edffe5;
$primary_color_6: #f5f7fb;

/*=========================== general =====================*/
*,
html {
  scroll-behavior: smooth !important;
}
body {
  overflow-x: hidden;
  font-family: "IRANSansXFaNum";
}
* {
  direction: rtl;
}
section {
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s, color 9999s ease-in-out 0s;
  color: #fff !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
input:-internal-autofill-selected {
  color: #fff !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.result {
  text-align: center;
  text-align-last: center;
  color: green;
}
.success-submit {
  color: greenyellow;

  text-align: center;
}
.success {
  color: greenyellow;
}

.input_code.valid {
  color: #000;
  border: 1px solid #525252;
}

section,
.modal {
  direction: rtl;
}
.mobile {
  display: none;
}
.form-control:focus {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
img {
  max-width: 100%;
}
/*================================ swiper ================================*/
.swiper-button-next,
.swiper-button-prev {
  width: 24px;
  height: 24px;
  background-image: url(../images/next.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  content: "" !important;
}
.swiper-button-prev {
  transform: rotate(180deg);
}

/*================================ section-title ================================*/
.section_title {
  color: $primary_color_1;
  text-align: center;
  text-align-last: center;
  font-family: IRANSansXFaNum;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin: 0 auto 50px;
}
.section_subtitle {
  color: $primary_color_2;
  text-align: center;
  text-align-last: center;
  font-family: IRANSansXFaNum;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin: 0 auto 14px;
}

/*================================ introduction ================================*/
#introduction {
  background-image: url(../images/introduction_bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  .content {
    height: 90vh;
    .right {
      position: relative;
      text-align: right;
      text-align-last: right;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      .sunich_logo {
        max-width: 125px;
        position: absolute;
        top: 50px;
        right: 15px;
        margin: 0;
      }
      .title {
        color: $primary_color_3;
        text-align: right;
        text-align-last: right;
        font-family: Javan;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
        margin: 0;
        text-shadow: 5px 3px 0px #d12f00;
      }
    }
  }
}

/*================================ description ================================*/
#description {
  padding: 96px 0 120px;
  .content {
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
    .caption {
      color: $primary_color_4;
      text-align: center;
      text-align-last: center;
      font-family: IRANSansXFaNum;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
      margin: 0 auto 35px;
    }
    .content_box {
      text-align: center;
      .description_img {
        max-width: 55px;
        margin: 0 auto 16px;
        transition: all 1s;
      }
      .description_img:hover {
        transform: scale(1.1);
        transition: all 1s;
      }
      .title {
        color: $primary_color_1;
        text-align: center;
        text-align-last: center;
        font-family: IRANSansXFaNum;
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: capitalize;
        margin: 0 auto;
      }
      .subtitle {
        color: $primary_color_2;
        text-align: center;
        text-align-last: center;
        font-family: IRANSansXFaNum;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        margin: 0 auto;
      }
    }
  }
}

/*================================ product_category ================================*/
#product_category {
  .content {
    .content_box {
      background-position: center center;
      background-size: cover;
      padding-top: 54px;
      border-radius: 20px;
      margin-bottom: 35px;
      .title {
        color: $primary_color_3;
        text-align: center;
        text-align-last: center;
        font-family: Javan;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
        margin: 0 auto;
      }
    }
    .category_1 {
      background-image: url(../images/product_cat_1.png);
      background-repeat: no-repeat;
      min-height: 700px;
    }
    .category_2 {
      background-image: url(../images/product_cat_2.png);
      background-repeat: no-repeat;
      min-height: 700px;
    }
    .category_3 {
      background-image: url(../images/product_cat_3.png);
      background-repeat: no-repeat;
      min-height: 456px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 150px 0 0;
      margin-bottom: 0;

      .title {
        font-size: 70px;
        text-align: right;
        text-align-last: right;
        margin: 0;
      }
    }
  }
}

.product_name {
  color: $primary_color_1;
  text-align: right;
  text-align-last: right;
  font-family: IRANSansXFaNum;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin: 0 0 5px;
}
.product_category {
  color: $primary_color_1;
  text-align: right;
  text-align-last: right;
  font-family: IRANSansXFaNum;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin: 0;
}
.product_package {
  color: $primary_color_1;
  text-align: right;
  text-align-last: right;
  font-family: IRANSansXFaNum;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin: 0 5px 0 0;
}
.product_info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 25px;
}

/*================================ products ================================*/
#products {
  padding: 94px 0 111px;
  .product_box {
    position: relative;
    .swiper {
      height: fit-content;
      margin-bottom: 85px;
      padding: 70px 0 0;
      .slide_content {
        cursor: pointer;
        border-radius: 20px;
        background: $primary_color_6;
        text-align: center;
        padding: 0 0 23px;
        min-height: 324px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .product_img {
          margin: -60px auto 24px;
          max-width: 104px;
        }
        .product_name {
          text-align: center;
          text-align-last: center;
          margin: 0 auto 5px;
        }
        .product_category {
          text-align: center;
          text-align-last: center;
          margin: 0 auto;
        }
      }
      .slide_content::after {
        content: "";
        background-image: url(../images/shadow.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 100%;
        height: 50px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 25%;
        margin: 0 auto;
      }
    }
    .swiper.cc_swiper {
      .slide_content {
        .product_img {
          margin: -30px auto 24px;
          max-width: 92px;
        }
      }
    }
    .swiper.glass_swiper {
      .slide_content {
        .product_img {
          max-width: 92px;
        }
      }
    }
    .swiper-pagination {
      display: none;
    }
    .swiper-button-prev,
    .swiper-button-next {
      width: 44px;
      height: 44px;
      top: 60%;
    }
    .swiper-button-prev {
      left: 10%;
    }
    .swiper-button-next {
      right: 10%;
    }
  }
}

/*================================ property ================================*/
#property {
  padding: 0 0 120px;
  .content {
    .content_box {
      border-radius: 20px;
      padding: 40px 24px;
      text-align: right;
      transition: all 1s;
      .property_img {
        max-width: 47px;
        margin: 0 0 16px;
      }
      .caption {
        color: $primary_color_3;
        text-align: right;
        text-align-last: right;
        font-family: IRANSansXFaNum;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
        margin: 0;
        min-height: 93px;
      }
    }
    .property_1 {
      background: #b0c543;
    }
    .property_2 {
      background: #ef9028;
    }
    .property_3 {
      background: #f8665c;
    }
    .content_box:hover {
      margin-top: -25px;
      transition: all 1s;
    }
  }
}

/*================================ membership ================================*/
#membership {
  padding: 120px 0;
  .content {
    border-radius: 20px;
    min-height: 560px;
    max-width: 100%;
    margin: 0 auto;
    background: #fff8dd;
    .right {
      background-image: url(../images/membership_img.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      text-align: center;
      border-radius: 0 20px 20px 0;
    }
    .left {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .form {
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .title {
          color: $primary_color_1;
          text-align: center;
          text-align-last: center;
          font-family: IRANSansXFaNum;
          font-size: 24px;
          font-style: normal;
          font-weight: 900;
          line-height: 120.5%;
          text-transform: uppercase;
          margin: 0 auto 33px;
        }
        .form-group {
          width: 100%;
          position: relative;
          text-align: right;
          margin-bottom: 0;
          min-height: 90px;
          .icon_img {
            margin-left: 10px;
          }
          .inp_label {
            color: #5e5e5e;
            text-align: right;
            font-family: IRANSansXFaNum;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 0 0 4px;
          }
          label.error {
            margin: 0;
            color: #b10000;
            font-size: 12px;
          }
          .inp_box {
            border-radius: 10px;
            border: 1px solid #dbb100;
            background: #ffefaf;
            display: flex;
            align-items: center;
            padding: 8px 12px;
            label.error {
              position: absolute;
              bottom: 0;
              right: 0;
            }
          }
          .form-control {
            background: transparent;
            border: none;
            width: 100%;
            color: #030102 !important;
            text-align: right;
            font-family: IRANSansXFaNum;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: 0;
          }
          .form-control::placeholder {
            color: #030102;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            opacity: 0.5;
          }
          #phoneNumber,
          #email {
            text-align: left;
          }
        }
        .form-group:nth-child(3) {
          margin-bottom: 20px;
        }
      }
      .form.step2 {
        display: none;
        .title {
          margin: 0 auto;
        }
      }
      .submit_btn {
        border-radius: 10px;
        background: #abca37;
        padding: 2px 60px;
        color: $primary_color_3;
        text-align: center;
        font-family: IRANSansXFaNum;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 46px;
        text-transform: capitalize;
        transition: all 1s;
      }
      .submit_btn:hover {
        transform: scale(1.1);
      }
      #subscribers {
        width: 100%;
      }
    }
  }
}

/*================================ testimonial ================================*/
#testimonial {
  padding: 53px 0 85px;
  background: $primary_color_5;
  .testimonial_Swiper {
    height: fit-content;
    padding: 0 0 30px;
    .slide_content {
      max-width: 70%;
      margin: 0 auto;
      text-align: center;
      .customer_img {
        max-width: 60px;
        margin: 0 auto 25px;
        border: 5px solid $primary_color_2;
        border-radius: 1000px;
      }
      .title {
        color: $primary_color_4;
        text-align: center;
        text-align-last: center;
        font-family: IRANSansXFaNum;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
        margin: 0 auto 11px;
      }
      .title.customer_company {
        font-size: 16px;
      }
      .title.customer_comments {
        font-size: 18px;
        font-weight: 400;
        margin: 0;
      }
    }
    .swiper-pagination {
      bottom: 0;
      width: fit-content;
      margin: 0 auto;
      left: 0;
      right: 0;
      .swiper-pagination-bullet {
        background: #d9d9d9;
        opacity: 1;
        width: 7px;
        height: 7px;
      }
      .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: $primary_color_2;
      }
    }
    /* button-next , button-prev */
    .swiper-button-next,
    .swiper-button-prev {
      bottom: 20%;
      top: unset;
    }
    .swiper-button-prev {
      right: unset;
      left: 10% !important;
    }
    .swiper-button-next {
      left: unset;
      right: 10% !important;
    }
  }
}

/*================================ footer ================================*/
footer {
  background: $primary_color_1;
  .content {
    padding: 54px 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      color: $primary_color_3;
      text-align: right;
      text-align-last: right;
      font-family: IRANSansXFaNum;
      font-size: 32px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      text-transform: capitalize;
      margin: 0 0 17px;
    }
    .caption {
      color: $primary_color_3;
      text-align: right;
      text-align-last: right;
      font-family: IRANSansXFaNum;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
      margin: 0;
    }
    .social {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      img {
        width: 25px;
        margin-right: 36px;
        transition: all 0.5s;
      }
      img:hover {
        margin-top: -10px;
      }
      img:nth-child(3) {
        margin-right: 0;
      }
    }
  }
  .copyright {
    border-top: 1px solid #fff;
    text-align: center;
    padding: 18px 0;
    .logo {
      max-width: 30px;
      margin: 0 auto;
    }
    .hover-company {
      opacity: 0;
      overflow: hidden;
      margin: 5px;
      -webkit-transition: width 1000ms ease-in, opacity 1s ease-out;
      -moz-transition: width 1000ms ease-in, opacity 1s ease-out;
      -o-transition: width 1000ms ease-in, opacity 1s ease-out;
      transition: width 1000ms ease-in, opacity 1s ease-out;
    }
    .hover-company.active {
      opacity: 1;
    }
  }
}

/*================================ informationModal ================================*/
#informationModal {
  .close_btn {
    position: absolute;
    left: 16px;
    top: 16px;
    max-width: 24px;
    cursor: pointer;
    z-index: 10;
  }
  .modal-content {
    border-radius: 20px;
    .modal-body {
      padding: 0;
      min-height: 690px;
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
      .img_content {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f5f7fb;
        border-radius: 20px;
        .product_img {
          max-width: 30%;
        }
      }
      .content {
        padding: 25px 32px 20px 32px;
        #infoAccordion {
          .accordion-item {
            border: none;
            background: transparent;
            margin: 0 0 24;
          }
          .accordion-item:last-child {
            margin-bottom: 0;
          }
          .accordion-header {
            margin: 0;
          }
          .accordion-button {
            border: none;
            background-color: transparent;
            color: $primary_color_2;
            text-align: right;
            text-align-last: right;
            font-family: IRANSansXFaNum;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: capitalize;
            padding: 2px 0;
            margin-bottom: 15px;
          }
          .accordion-button::before {
            content: "";
            width: 4px;
            height: 36px;
            background: $primary_color_2;
            border-radius: 1000px;
            margin-left: 10px;
          }
          .accordion-button:not(.collapsed) {
            background-color: transparent;
            box-shadow: none;
            margin-bottom: 0;
          }
          .accordion-button:focus {
            border-color: transparent;
            box-shadow: none;
          }
          .accordion-body {
            color: $primary_color_4;
            text-align: right;
            text-align-last: right;
            font-family: IRANSansXFaNum;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: capitalize;
            padding: 0;
            .row_info {
              border-radius: 35px;
              background: #f0f0f0;
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 12px 16px;
              margin-bottom: 10px;
              p {
                color: $primary_color_1;
                text-align: right;
                font-family: IRANSansXFaNum;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 140%; /* 22.4px */
                text-transform: capitalize;
                margin: 0;
              }
              p.product_property {
                text-align: left;
                text-align-last: left;
              }
            }
            .row_info:first-child {
              margin-top: 24px;
            }
          }
          .accordion-button::after {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-image: url(../images/arrow_down.png);
            background-size: auto;
            background-position: center;
            position: static;
            margin-right: 10px;
            filter: invert(35%) sepia(99%) saturate(5498%) hue-rotate(151deg)
              brightness(104%) contrast(87%);
          }
          .accordion-button:not(.collapsed)::after {
            background-image: url(../images/arrow_down.png);
            transform: rotate(-180deg);
            filter: invert(64%) sepia(93%) saturate(5243%) hue-rotate(348deg)
              brightness(99%) contrast(90%);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }

  /*================================ swiper ================================*/
  .swiper-button-next,
  .swiper-button-prev {
    width: 24px;
    height: 24px;
    background-image: url(../images/next.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    content: "" !important;
  }
  /*================================ introduction ================================*/
  #introduction {
    background-image: url(../images/introduction_bg_mo.png);
    background-repeat: no-repeat;
    .content {
      .right {
        text-align: center;
        text-align-last: center;
        align-items: center;
        justify-content: flex-start;
        padding-top: 20px;
        .sunich_logo {
          max-width: 63px;
          position: static;
          margin: 0 auto 33px;
        }
        .title {
          text-align: center;
          text-align-last: center;
          font-size: 32px;
          margin: 0 auto;
        }
        .text_img {
          max-width: 80%;
        }
      }
    }
  }

  /*================================ description ================================*/
  #description {
    padding: 63px 0 45px;
    .content {
      max-width: 100%;
      .caption {
        margin: 0 auto 43px;
      }
      .content_box {
        margin: 0 auto 32px;
      }
    }
  }

  /*================================ product_category ================================*/
  #product_category {
    .content {
      .content_box {
        padding-top: 30px;
        border-radius: 12px;
        margin-bottom: 16px;
        .title {
          font-size: 26px;
        }
      }
      .category_1 {
        min-height: 390px;
      }
      .category_2 {
        min-height: 390px;
      }
      .category_3 {
        background-image: url(../images/product_cat_3_mo.png);
        background-repeat: no-repeat;
        min-height: 390px;
        align-items: flex-start;
        padding: 30px 15px 0;
        .title {
          font-size: 26px;
          text-align: center;
          text-align-last: center;
          margin: 0 auto;
        }
      }
    }
  }

  /*================================ products ================================*/
  #products {
    padding: 110px 0 0;
    .section_title {
      margin: 0 auto 30px;
    }
    .product_box {
      .container {
        padding: 0;
      }
      .swiper {
        height: fit-content;
        margin-bottom: 40px;
        padding: 80px 0 0;
        .slide_content {
          border-radius: 17px;
          padding: 0 0 20px;
          min-height: unset;
          .product_img {
            margin: -60px auto 18px;
            max-width: 92px;
          }
          .product_name,
          .product_category {
            font-size: 18px;
          }
        }
      }
      .swiper.cc_swiper {
        margin-bottom: 0;
        .slide_content {
          .product_img {
            margin: -30px auto 18px;
            max-width: 82px;
          }
        }
      }
      .swiper.glass_swiper {
        .slide_content {
          .product_img {
            max-width: 82px;
          }
        }
      }
      .swiper-button-prev {
        left: 2%;
      }
      .swiper-button-next {
        right: 2%;
      }
    }
  }

  /*================================ property ================================*/
  #property {
    padding: 120px 0 165px;
    .content {
      .content_box {
        padding: 24px;
        margin-bottom: 18px;
        .caption {
          font-size: 16px;
          min-height: unset;
        }
      }
    }
  }

  /*================================ membership ================================*/
  #membership {
    padding: 95px 0;
    background: #fff8dd;
    .content {
      border-radius: 0;
      min-height: unset;
      .left {
        .form {
          width: 100%;
          .form-group {
            min-height: 80px;
          }
        }
        .submit_btn {
          padding: 2px 30px;
        }
      }
    }
  }

  /*================================ testimonial ================================*/
  #testimonial {
    padding: 32px 0;
    .testimonial_Swiper {
      padding: 0 0 23px;
      .slide_content {
        max-width: 100%;
      }
      .swiper-button-next,
      .swiper-button-prev {
        bottom: unset;
        top: 35%;
      }
      .swiper-button-prev {
        left: 2% !important;
      }
      .swiper-button-next {
        right: 2% !important;
      }
    }
  }

  /*================================ footer ================================*/
  footer {
    .content {
      padding: 30px 0;
      flex-direction: column;
      justify-content: center;
      .title {
        text-align: center;
        text-align-last: center;
        font-size: 20px;
        margin: 0 auto 26px;
      }
      .caption {
        text-align: center;
        text-align-last: center;
        font-size: 16px;
        margin: 0 auto 50px;
      }
      .social {
        justify-content: center;
        img {
          margin-right: 0;
        }
        a:nth-child(2) img {
          margin: 0 36px;
        }
        img:nth-child(3) {
          margin-right: 0;
        }
      }
    }
    .copyright {
      .logo {
        max-width: 30px;
        margin: 0 auto;
      }
      .hover-company {
        opacity: 0;
        overflow: hidden;
        margin: 5px;
        -webkit-transition: width 1000ms ease-in, opacity 1s ease-out;
        -moz-transition: width 1000ms ease-in, opacity 1s ease-out;
        -o-transition: width 1000ms ease-in, opacity 1s ease-out;
        transition: width 1000ms ease-in, opacity 1s ease-out;
      }
      .hover-company.active {
        opacity: 1;
      }
      .harmonyLogo.mobile {
        max-width: 70%;
        margin: 0 auto;
      }
    }
  }

  /*================================ informationModal ================================*/
  #informationModal {
    .modal-content {
      // position: absolute;
      // bottom: -100%;
      // transition: all 2s;
      .modal-body {
        min-height: unset;
        .content {
          order: 2;
          padding: 16px;

          .product_header {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 28px;
            .product_name {
              margin: 0;
            }
          }
          .product_category {
            margin: 0 5px 0 0;
          }
          #infoAccordion {
            .accordion-item {
              margin: 0 0 16;
            }
            .accordion-button {
              font-size: 16px;
              margin-bottom: 9px;
            }
            .accordion-body {
              font-size: 14px;
              .row_info:first-child {
                margin-top: 12px;
              }
            }
            .accordion-button::after {
              margin-right: 6px;
            }
          }
        }
        .img_content {
          padding: 27px 0 50px;
          border-radius: 20px 20px 0 0;
          .product_img {
            max-width: 60px;
          }
        }
      }
    }
  }
  // #informationModal.show {
  //   .modal-content {
  //     bottom: -10%;
  //   }
  // }

  .product_info {
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
  #products .product_box .swiper-button-prev {
    left: 3%;
  }
  #products .product_box .swiper-button-next {
    right: 3%;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    margin: 1rem auto;
  }
}
