@import url(../fonts/kalameh/kalameh.css);
@import url(../fonts/peyda/peyda.css);
/*=========================== general =====================*/
*,
html {
  scroll-behavior: smooth !important;
}

body {
  overflow-x: hidden;
  font-family: "kalameh";
  height: 100%;
  max-width: 420px;
  margin: 0 auto;
  background: linear-gradient(181deg, #16151f 55.27%, #940064 182.36%);
}

* {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  direction: rtl;
}

ul {
  margin: 0;
  padding: 0;
}

.form-group {
  margin: 0;
  text-align: center;
}

.btn-check:focus + .btn,
.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 9999s ease-in-out 0s, color 9999s ease-in-out 0s;
  transition: background-color 9999s ease-in-out 0s, color 9999s ease-in-out 0s;
  color: #fff !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:-internal-autofill-selected {
  color: #fff !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.result {
  text-align: center;
  text-align-last: center;
  color: green;
}

.success-submit {
  color: greenyellow;
  text-align: center;
}

.success {
  color: greenyellow;
}

#confirm-error {
  width: 100%;
}

.input_code.valid {
  color: #000;
  border: 1px solid #525252;
}

section {
  padding: 0;
  position: relative;
  z-index: 100;
  direction: rtl;
}

.section_title {
  color: rgba(255, 252, 252, 0.8);
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 175.5%;
  margin: 0 auto;
}

/*============== callToAction and it's hover ==================*/
.callToAction {
  border-radius: 4px;
  background: #940064;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 8px 0;
  border: none;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  width: 100%;
}

.callToAction:hover {
  background: #940064;
  color: #fff;
}

.callToAction2 {
  background: #fff;
  border-radius: 50px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.9;
  padding: 5.5px 32px;
  border: none;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.callToAction2:hover {
  background: #fff;
  color: #fff;
}

/* ============ form.step2 styles ============ */
.userInput {
  text-align: center;
  margin: 0 auto 32px;
  direction: ltr;
}

.userInput input {
  background-image: url(../images/otp_bg.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  width: 26px;
  height: 26px;
  border: none;
  color: #fff;
  text-align: center;
  background-color: transparent;
  margin: 0 9px;
}

.userInput input:focus-visible {
  outline: none !important;
}

.false_number {
  color: #fff;
  text-align: center;
  text-align-last: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.08px;
  margin: 0 auto 36px;
}

#editMobile {
  margin: 0 2px 0 0;
  color: #d063a5;
}

.again_box {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #525252;
  margin: 0 auto 32px;
}

#smsTimer {
  margin: 0 auto;
  color: #fff;
  text-align: center;
  text-align-last: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#sendAgain {
  cursor: pointer;
  margin: 0;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  text-align-last: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*============== preload ==================*/
#preload {
  background-image: url(../images/main_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

#preload .content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 27px 0;
}

#preload .content .loading_box {
  margin: 0 auto 24px;
}

#preload .content .loading_box .loading_bar {
  background-image: url(../images/loading_img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto 20px;
  width: 206px;
  height: 34px;
  padding: 6px 9px;
  direction: ltr;
}

#preload .content .loading_box .loading_bar #loading_progress {
  width: 1%;
  height: 100%;
  background: #7e78b8;
}

#preload .content .loading_box .loading_title {
  direction: ltr;
  color: #e4e4e4;
  text-align: center;
  text-align-last: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 9.59px;
  margin: 0 auto;
}

#preload .content .lifestar_logo {
  margin: 0 auto;
  max-width: 56px;
}

/*============== introduction ==================*/
#introduction {
  background-image: url(../images/introduction_bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  height: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#introduction .linear_box {
  padding: 2px;
  -webkit-backdrop-filter: blur(19px);
          backdrop-filter: blur(19px);
  margin: 0 auto 66px;
  max-width: 90%;
}

#introduction .linear_box .content {
  background-image: url(../images/content_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 24px 20px 51px;
  text-align: center;
}

#introduction .linear_box .content .lifestar_logo {
  max-width: 104px;
  margin: 0 auto 18px;
}

#introduction .linear_box .content .line {
  background: #a5a1c9;
  width: 60%;
  height: 2px;
  opacity: 1;
  margin: 0 auto 14px;
  position: relative;
}

#introduction .linear_box .content .line::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -1px;
  width: 15px;
  height: 4px;
  background: #a5a1c9;
  border-radius: 1000px;
}

#introduction .linear_box .content .text_img {
  max-width: 196px;
  margin: 0 auto 6px;
}

#introduction .linear_box .content .title {
  color: rgba(255, 255, 255, 0.04);
  text-align: center;
  text-align-last: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 0 auto 6px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #d063a5;
}

#introduction .linear_box .content .caption {
  color: #d3d3d3;
  text-align: center;
  text-align-last: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 152.5%;
  margin: 0 auto;
}

#introduction .start_btn_box {
  width: 180px;
  height: 38px;
  margin: 0 auto;
  background-image: url(../images/start_btn_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: #f99d3e;
  font-size: 22px;
  font-family: "peyda";
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  cursor: pointer;
}

/*============== membership ==================*/
#membership {
  height: 100%;
  display: none;
  position: relative;
}

#membership .top_image {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 90%;
}

#membership .bottom_image {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 90%;
}

#membership .content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#membership .content .lifestar_logo {
  margin: 0 auto 45px;
  max-width: 84px;
}

#membership .content .steps .title {
  color: #fff;
  text-align: center;
  text-align-last: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 auto 10px;
}

#membership .content .steps .form-group {
  min-height: 58px;
  width: 100%;
  position: relative;
  text-align: center;
  margin: 0 auto 13px;
}

#membership .content .steps .form-group label.error {
  margin: 0 auto;
  color: #ec21aa;
  text-align: center;
  text-align-last: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#membership .content .steps .form-control {
  border-radius: 4px;
  background: #302e46;
  border: none;
  width: 100%;
  color: #fff !important;
  padding: 8px 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  border: 1px solid #302e46;
  text-align: center;
}

#membership .content .steps .form-control:focus {
  background-color: transparent;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #194eb2;
}

#membership .content .steps .form-control.error {
  border: 1px solid #940064;
  background: rgba(148, 0, 100, 0.17);
}

#membership .content .steps .form-control.valid {
  border: 1px solid #2a5a03;
  background: rgba(42, 90, 3, 0.17);
}

#membership .content .steps .form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.56);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

#membership .content .steps .form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.56);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

#membership .content .steps .form-control::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.56);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

#membership .content .steps .form-control::placeholder {
  color: rgba(255, 255, 255, 0.56);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

#membership .content .steps.step2 {
  display: none;
}

#membership .content .steps.step2 .title {
  font-size: 20px;
}

#membership .content #subscribers {
  margin-bottom: 0;
  text-align: center;
}

.waveTextAnimated span {
  display: inline-block;
  -webkit-animation: wave-text 1s ease-in-out infinite;
          animation: wave-text 1s ease-in-out infinite;
}

.waveTextAnimated span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.waveTextAnimated span:nth-of-type(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.waveTextAnimated span:nth-of-type(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.waveTextAnimated span:nth-of-type(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.waveTextAnimated span:nth-of-type(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.waveTextAnimated span:nth-of-type(6) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.waveTextAnimated span:nth-of-type(7) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@-webkit-keyframes wave-text {
  00% {
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
  }
  60% {
    -webkit-transform: translateY(-0.6em);
            transform: translateY(-0.6em);
  }
  100% {
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
  }
}

@keyframes wave-text {
  00% {
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
  }
  60% {
    -webkit-transform: translateY(-0.6em);
            transform: translateY(-0.6em);
  }
  100% {
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
  }
}

/*============== particles ==================*/
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/*============== profile_page ==================*/
.profile_page {
  background-image: url(../images/profile_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*============== header ==================*/
header {
  padding: 15px 0;
  margin-bottom: 40px;
}

header .content {
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 81px;
  width: 328px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .content .row {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .content .right {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header .content .right .title {
  color: #d9d9d9;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: right;
  text-align-last: right;
  margin: 0 0 0 2px;
}

header .content .right .user_score {
  color: rgba(208, 99, 165, 0.19);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
  text-align: right;
  text-align-last: right;
  margin: 0;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #d063a5;
  -webkit-filter: blur(0.6px);
          filter: blur(0.6px);
}

header .content .center {
  text-align: center;
}

header .content .center .lifestar_logo {
  max-width: 63px;
  margin: 0 auto;
}

header .content .left {
  text-align: left;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .content .left .title {
  color: rgba(208, 99, 165, 0.08);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.36px;
  text-align: right;
  text-align-last: right;
  margin: 0;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #d063a5;
  -webkit-filter: blur(0.6px);
          filter: blur(0.6px);
}

header .content .left .bottle_img {
  max-width: 15px;
  margin: 0 4px 0 0;
}

/*============== about_game ==================*/
#about_game .content {
  text-align: center;
}

#about_game .content .section_title {
  margin: 0 auto 16px;
}

#about_game .content .caption {
  color: #c9c9c9;
  text-align: justify;
  text-align-last: center;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 90%;
  margin: 0 auto 19px;
}

#about_game .content .game_instructions {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about_game .content .game_instructions .game_instructions_title {
  color: #f99d3e;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 175.5%;
  /* 31.59px */
  margin: 0 0 0 3px;
}

#about_game .content .game_instructions .arrow_left {
  max-width: 11px;
  margin: 0 3px 0 0;
}

#user_record_box {
  padding: 36px 0 56px;
}

#user_record_box .content {
  background-image: url(../images/user_record_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 45px;
  width: 328px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#user_record_box .content .title {
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-align-last: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 auto;
}

#user_record_box .content .title .user_record {
  color: #d063a5;
  font-weight: 900;
}

#prize_box .section_title {
  margin: 0 auto 18px;
}

#prize_box .content {
  background-image: url(../images/box_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 12px 36px 30px;
  text-align: right;
  position: relative;
  width: 324px;
  height: 112px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#prize_box .content .prize_img {
  max-width: 53px;
  position: absolute;
  top: -13px;
  left: 10%;
}

#prize_box .content .progress_bar_img {
  max-width: 60px;
  margin: 0;
}

#prize_box .content .subtitle {
  color: #fff;
  text-align: right;
  text-align-last: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

#prize_box .content .caption {
  text-align: right;
  text-align-last: right;
  color: #fffcfc;
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  margin: 0;
}

#best_record {
  padding: 60px 0;
}

#best_record .section_title {
  margin: 0 auto 22px;
}

.pink_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
  background-image: url(../images/user_score_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 297px;
  height: 39px;
  margin: 0 auto 8px;
}

.pink_row .user_name {
  color: #fff;
  text-align: right;
  text-align-last: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.pink_row .user_score {
  text-align: left;
  text-align-last: left;
  color: #d063a5;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.pink_row .user_score strong {
  font-size: 18px;
  font-weight: 700;
}

.pink_row:last-child {
  margin: 0 auto;
}

@media screen and (max-width: 678px) {
  header .content {
    width: 300px;
  }
}
/*# sourceMappingURL=main.css.map */