@import url(../fonts/dana/dana.css);
// @import "responsive";
$primary_color_1: #ffc439;
$primary_color_2: #1b05ac;
$primary_color_3: #878f99;
/*=========================== general =====================*/
*,
html {
  scroll-behavior: smooth !important;
}
body {
  overflow-x: hidden;
  font-family: "dana";
}
* {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  direction: rtl;
}
section {
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.form-group {
  margin: 0;
  text-align: center;
}
.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s, color 9999s ease-in-out 0s;
  color: #fff !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
input:-internal-autofill-selected {
  color: #fff !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.result {
  text-align: center;
  text-align-last: center;
  color: green;
}
.success-submit {
  color: greenyellow;

  text-align: center;
}
.success {
  color: greenyellow;
}

#confirm-error {
  width: 100%;
}
.input_code.valid {
  color: #000;
  border: 1px solid #525252;
}

.less,
.more {
  display: none;
}
section,
.modal {
  direction: rtl;
}

.form-control:focus {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
.row {
  max-width: 100%;
  margin: 0 auto;
}

.step1 .form-group :is(.place_moving) {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  pointer-events: none;
  color: #888888;
  transition: 0.3s;
}
.step1 .form-group > .place_moving {
  right: 10px;
  translate: 0 -50%;
  padding: 4px 8px;
}
.step1 .form-group > input {
  height: 56px;
  width: 220px;
  padding-right: 16px;
  border: 2px solid #888888;
  border-radius: 8px;
  background: transparent;
  color: #f9f9f9;
}
.step1 .form-group > :is(input:focus, .has-value) {
  border-color: #8f44fd;
}
.step1 .form-group > :is(input:focus, .has-value) ~ .place_moving {
  background: transparent;
  color: #151515;
  translate: 0 -50px;
}

/*============== callToAction and it's hover ==================*/
.callToAction {
  background: $primary_color_1;
  border-radius: 50px;
  color: $primary_color_2;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.9;
  padding: 5.5px 32px;
  border: none;
  transition: 0.7s;
}
.callToAction:hover {
  background: $primary_color_2;
  color: $primary_color_1;
}
.callToAction2 {
  background: $primary_color_2;
  border-radius: 50px;
  color: $primary_color_1;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.9;
  padding: 5.5px 32px;
  border: none;
  transition: 0.7s;
}
.callToAction2:hover {
  background: $primary_color_1;
  color: $primary_color_2;
}

/*================================ header ================================*/
.stickyHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 1000;
}
header {
  background: #fff;
  box-shadow: inset 67.3333px -67.3333px 67.3333px rgba(194, 194, 194, 0.1),
    inset -67.3333px 67.3333px 67.3333px rgba(255, 255, 255, 0.1);
  display: none;
  .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
    .title {
      color: $primary_color_2;
      font-weight: 700;
      font-size: 22px;
      line-height: 32px;
      margin: 0;
      text-align: right;
      text-align-last: right;
    }
    .info {
      display: flex;
      align-items: center;
      .subtitle {
        color: #4d62cd;
        font-weight: 700;
        font-size: 18px;
        line-height: 34px;
        margin: 0;
      }
      .callToAction {
        margin-right: 18px;
        box-shadow: 0px 8px 14px rgba(255, 195, 52, 0.2);
      }
    }
  }
}
header.stickyHeader {
  display: block;
}

/*================================ section-title ================================*/
.section_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: $primary_color_2;
  text-align: center;
  text-align-last: center;
  margin: 0 auto 35px;
}
.section_caption {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.9;
  color: #6c6c6c;
  text-align: justify;
  text-align-last: center;
  margin: 0 auto 40px;
  max-width: 70%;
}

/*================================ intro ================================*/
#intro {
  padding: 107px 0 64px;
  .title {
    color: $primary_color_2;
    font-weight: 900;
    font-size: 30px;
    line-height: 46px;
    margin: 0 0 8px;
    text-align: right;
    text-align-last: right;
  }
  .caption {
    color: #3c3c3c;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.9;
    margin: 0 0 18px;
    text-align: justify;
    text-align-last: right;
  }
  .content {
    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(45px);
    border-radius: 24px;
    border: 3px solid #fff;
    position: relative;
    .right {
      padding: 100px 100px 100px 28px;
      text-align: right;
      text-align-last: right;
    }
    .left {
      position: relative;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 326px;
        position: relative;
        z-index: 10;
      }
    }
  }
}

/*================================ carts ================================*/
#carts .content_box {
  background: rgba(125, 122, 122, 0.32);
  backdrop-filter: blur(30px);
  border-radius: 24px;
  text-align: center;
  padding: 40px 9px 43px;
  border: 3px solid #fff;
  transition: 0.3s;
  .img_box {
    min-height: 154px;
    margin: 0 auto 23px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .title {
    color: #505050;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.9;
    text-align: justify;
    text-align-last: center;
    margin: 0 auto 33px;
  }
  .but {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      color: #8c9ade;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.9;
      margin: 0 0 0 2px;
    }
  }
  .property_box {
    width: 43px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -50px;
    .arrow {
      position: absolute;
      top: 20px;
      left: 0;
      right: 0;
      margin: 0 auto;
      filter: brightness(100) invert(1);
      transform: rotate(180deg);
    }
  }
}

/* hover */
#carts .content_box.active {
  background: #687ad4;
  border: none;
  min-height: 374px;
  .img_box {
    margin-top: -80px;
  }
  .title {
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    max-width: 80%;
  }
  .but {
    display: none;
  }
  .property_box .arrow {
    transform: none;
  }
}

/*================================ counter ================================*/
#counter {
  padding: 93px 0 130px;
  color: $primary_color_2;
  .value {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    display: inline-block;
  }
  .value::after {
    content: "+ ";
  }
}
#counter .content > div {
  padding: 0;
  border-left: 1px solid #000;
}
#counter .content > div:last-child {
  border-left: none;
}
#counter .counterTitle,
#counter .counterCaption {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin: 0 auto 8px;
}

@keyframes myAnim3 {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 0;
  }

  10% {
    transform: rotate(2deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  90% {
    transform: rotate(2deg);
  }
}

/*================================ membership ================================*/
#membership {
  padding: 106px 0 0;
  .content {
    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(45px);
    border-radius: 24px;
    position: relative;
    border: 3px solid #fff;
    .right {
      padding: 66px 100px 66px 50px;
    }
    .left {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }
  .title {
    color: $primary_color_2;
    font-weight: 800;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    text-align-last: center;
    margin: 0 auto 9px;
  }
  .caption {
    color: #414141;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
    text-align-last: right;
    margin: 0 0 24px;
  }
}

/*  forms styles */
#subscribers {
  margin-bottom: 0;
  text-align: center;
}
#membership .form .form-group {
  width: 100%;
  position: relative;
  text-align: right;
  margin-bottom: 20px;
}
#membership .form .form-group label.error {
  margin: 0;
  color: #b10000;
  font-size: 12px;
}
#membership .form .form-control {
  background: rgba(54, 79, 199, 0.08);
  border-radius: 1000px;
  border: none;
  height: 47px;
  width: 100%;
  color: #414141 !important;
  padding: 0 15px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
#membership .form .form-control::placeholder {
  color: #414141;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.5;
}
#membership .callToAction {
  padding: 7px 32px;
}

/* ============ form.step2 styles ============ */
.form.step2 {
  display: none;
  text-align: center;
}
.userInput {
  text-align: center;
  margin: 0 auto 32px;
  direction: ltr;
}
.userInput input {
  width: 50px;
  height: 50px;
  background: #ffffff;
  border: 1px solid $primary_color_2;
  border-radius: 16px;
  color: #525252;
  text-align: center;
}
.userInput input::placeholder {
  color: #525252;
  opacity: 0.7;
}
.false_number {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-align-last: center;
  color: #525252;
  margin: 0 auto 16px;
}
#editMobile {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $primary_color_2;
  cursor: pointer;
  border-bottom: 1px solid $primary_color_2;
  display: block;
  width: fit-content;
  margin: 16px auto 0;
}
.again_box {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #525252;
  margin: 0 auto 32px;
}
#smsTimer {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 0 10px;
}
#sendAgain {
  cursor: pointer;
  margin: 0;
  display: none;
  align-items: center;
}

/* ============ form.step3 styles ============ */
.form.step3 {
  display: none;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.form.step3 .last_title {
  color: $primary_color_2;
  font-weight: 800;
  font-size: 30px;
  line-height: 29px;
  text-align: center;
  text-align-last: center;
  margin: 0 auto;
}

/*================================ testimonial ================================*/
#testimonial {
  padding: 104px 0 97px;
  .section_title {
    margin: 0 auto;
  }
  .swiper-wrapper {
    height: fit-content;
    padding: 70px 0 90px;
  }
}
/* swiper-slide  */
.testimonial_Swiper .swiper-slide {
  min-height: 180px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 1s;
  .title {
    color: #151618;
    font-weight: 500;
    font-size: 16px;
    line-height: 31px;
    margin: 0 auto;
    text-align: center;
    text-align-last: center;
  }
}

.testimonial_Swiper .swiper-slide.swiper-slide-active {
  margin-top: -50px;
  transition: 1s;
  .title {
    color: $primary_color_2;
  }
}

/* button-next , button-prev */
.testimonial_Swiper .swiper-button-next,
.testimonial_Swiper .swiper-button-prev {
  bottom: 0;
  top: unset;
  background-image: url(../images/next.png);
  background-repeat: no-repeat;
}
.testimonial_Swiper .swiper-button-next:after,
.testimonial_Swiper .swiper-button-prev:after {
  content: "" !important;
}
.testimonial_Swiper .swiper-button-prev {
  right: 40% !important;
}
.testimonial_Swiper .swiper-button-next {
  left: 40% !important;
  transform: rotate(180deg);
}

/* pagination */
.testimonial_Swiper .swiper-pagination {
  bottom: 13px;
  width: fit-content;
  margin: 0 auto;
  left: 0;
  right: 0;
  .swiper-pagination-bullet {
    background: #cfcfcf;
    opacity: 1;
    width: 15px;
    height: 15px;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: $primary_color_2;
  }
}

/*================================ faq ================================*/
#faq {
  padding: 93px 0 163px;
  .section_title {
    margin: 0 auto 40px;
  }
  .accordion-item {
    border: none;
    background: #dce4f5;
    border-radius: 30px;
    margin: 0 0 18px;
  }
  .accordion-item:last-child {
    margin-bottom: 0;
  }
  .accordion-header {
    margin: 0;
  }
  .accordion-button {
    border: none;
    background-color: #dce4f5;
    border-radius: 0;
    color: $primary_color_2;
    font-weight: 500;
    font-size: 18px;
    line-height: 44px;
    border-radius: 30px;
    padding: 16px 42px;
  }
  .accordion-button:not(.collapsed) {
    font-weight: 700;
    background-color: #dce4f5;
    box-shadow: none;
    margin-bottom: 8px;
  }
  .accordion-button:focus {
    border-color: transparent;
    box-shadow: none;
  }

  .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .accordion-item:first-of-type {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .accordion-item:last-of-type {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .accordion-body {
    color: rgba(54, 79, 199, 0.8);
    font-weight: 500;
    font-size: 18px;
    line-height: 44px;
    text-align: justify;
    text-align-last: right;
    padding: 0 42px 23px 0;
    max-width: 90%;
  }
  .accordion-button::after {
    width: 30px;
    height: 30px;
    border: 2.25px solid $primary_color_2;
    border-radius: 50%;
    background-image: url(../images/arrow_down.png);
    background-size: auto;
    background-position: center;
    position: absolute;
    left: 40px;
    filter: invert(21%) sepia(73%) saturate(3410%) hue-rotate(226deg)
      brightness(89%) contrast(74%);
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url(../images/arrow_down.png);
    transform: rotate(-180deg);
  }
}

/*================================ footer ================================*/
footer {
  background: $primary_color_2;
  .content {
    padding: 22px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .title {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    text-align-last: right;
    margin: 0;
  }
  .social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    img {
      width: 22px;
      margin-right: 10px;
    }
    img:nth-child(3) {
      margin-right: 0;
    }
  }
}
.harmonyLogo {
  max-width: 70%;
}
.harmonyLogo:hover {
  opacity: 1;
}
.copyright {
  text-align: center;
  padding: 10px 0;
  img {
    max-width: 100px;
    opacity: 0.8;
    margin: 0 auto;
  }
  .harmonyLogo {
    max-width: 70%;
    opacity: 0.6;
  }
  .harmonyLogo:hover {
    opacity: 1;
  }
  .hover-company {
    opacity: 0;
    overflow: hidden;
    width: 0%;
    height: 50px;
    margin: 5px;
    color: #a7a7a7;
    -webkit-transition: width 1000ms ease-in, opacity 1s ease-out;
    -moz-transition: width 1000ms ease-in, opacity 1s ease-out;
    -o-transition: width 1000ms ease-in, opacity 1s ease-out;
    transition: width 1000ms ease-in, opacity 1s ease-out;
  }
  .logo {
    opacity: 0.7;
  }
  .hover-company.active {
    opacity: 1;
    width: 100%;
  }
}
