@import url(../fonts/dana/dana.css);
@import url(../fonts/pelak/pelak.css);
/*================================ general ================================*/
*,
html {
  scroll-behavior: smooth !important;
}
body {
  background-image: url(../images/body_bg.svg);
  background-repeat: no-repeat;
  overflow-x: hidden;
  font-family: "dana";
}
* {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  direction: rtl;
}
section {
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.form-group {
  margin: 0;
  text-align: center;
}
.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* transition: background-color 9999s ease-in-out 0s, color 9999s ease-in-out 0s; */
  color: #fff !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
input:-internal-autofill-selected {
  color: #fff !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.result {
  text-align: center;
  text-align-last: center;
  color: green;
}
.success-submit {
  color: greenyellow;

  text-align: center;
}
.success {
  color: greenyellow;
}

#confirm-error {
  width: 100%;
}
.input_code.valid {
  color: #000;
  border: 1px solid #525252;
}

.less,
.more {
  display: none;
}
section,
.modal {
  direction: rtl;
}

.form-control:focus {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
.row {
  max-width: 100%;
  margin: 0 auto;
}

/*============== callToAction and it's hover ==================*/
.callToAction {
  background: #ffc439;
  border-radius: 50px;
  color: #364fc7;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.9;
  padding: 5.5px 32px;
  border: none;
  transition: 0.7s;
}
.callToAction:hover {
  background: #364fc7;
  color: #ffc439;
}

/*================================ header ================================*/
.stickyHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 1000;
}

header {
  background: #fff;
  box-shadow: inset 67.3333px -67.3333px 67.3333px rgba(194, 194, 194, 0.1),
    inset -67.3333px 67.3333px 67.3333px rgba(255, 255, 255, 0.1);
  display: none;
}
header .content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
}
header .content .title {
  color: #364fc7;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
  text-align: right;
  text-align-last: right;
}
header .content .info {
  display: flex;
  align-items: center;
}
header .content .info .subtitle {
  color: #4d62cd;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  margin: 0;
}
header .content .info .callToAction {
  margin-right: 18px;
  box-shadow: 0px 8px 14px rgba(255, 195, 52, 0.2);
}
header.stickyHeader {
  display: block;
}

/*================================ section-title ================================*/
.section_title {
  font-family: "pelak";
  font-weight: 800;
  font-size: 24px;
  line-height: 35px;
  color: #364fc7;
  text-align: center;
  text-align-last: center;
  margin: 0 auto 35px;
}
.section_caption {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.9;
  color: #6c6c6c;
  text-align: justify;
  text-align-last: center;
  margin: 0 auto 40px;
  max-width: 70%;
}

/*================================ intro ================================*/
#intro {
  padding: 107px 0 64px;
}
#intro .bg_yellow {
  background: rgba(235, 199, 81, 0.5);
  filter: blur(122px);
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
}
#intro .container {
  position: relative;
}
#intro .doll {
  width: fit-content;
  position: absolute;
  top: -60px;
  right: -175px;
  padding: 0;
}
#intro .content {
  background: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(45px);
  border-radius: 24px;
  border: 3px solid #fff;
  position: relative;
}

#intro .content .right {
  padding: 100px 100px 100px 28px;
  text-align: right;
  text-align-last: right;
}
#intro .content .left {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#intro .content .left .bg_yellow {
  background: rgba(235, 199, 81, 0.5);
  filter: blur(122px);
  width: 372px;
  height: 333px;
  position: absolute;
  top: 20%;
  left: 10%;
}
#intro .content .left img {
  width: 326px;
  position: relative;
  z-index: 10;
}
#intro .title {
  color: #364fc7;
  font-family: "pelak";
  font-weight: 900;
  font-size: 30px;
  line-height: 46px;
  margin: 0 0 8px;
  text-align: right;
  text-align-last: right;
}
#intro .caption {
  color: #3c3c3c;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.9;
  margin: 0 0 18px;
  text-align: justify;
  text-align-last: right;
}

/*================================ remember ================================*/
#remember .content .first {
  padding-right: 0;
}
#remember .content .last {
  padding-left: 0;
}
#remember .content_box {
  background: rgba(255, 255, 255, 0.32);
  backdrop-filter: blur(30px);
  border-radius: 24px;
  text-align: center;
  padding: 40px 9px 43px;
  border: 3px solid #fff;
  transition: 0.3s;
}
#remember .content_box .img_box {
  min-height: 154px;
  margin: 0 auto 23px;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#remember .content_box .title {
  color: #505050;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.9;
  text-align: justify;
  text-align-last: center;
  margin: 0 auto 33px;
}
#remember .content_box .but {
  display: flex;
  align-items: center;
  justify-content: center;
}
#remember .content_box .but span {
  color: #8c9ade;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.9;
  margin: 0 0 0 2px;
}
#remember .content_box .property_box {
  width: 43px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -50px;
}
#remember .content_box .property_box .arrow {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  filter: brightness(100) invert(1);
  transform: rotate(180deg);
}
/* hover */
#remember .content_box.active {
  background: #687ad4;
  border: none;
  min-height: 374px;
}
#remember .content_box.active .img_box {
  margin-top: -80px;
}
#remember .content_box.active .title {
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
  max-width: 80%;
}
#remember .content_box.active .but {
  display: none;
}
#remember .content_box.active .property_box .arrow {
  transform: none;
}
/*================================ childhood ================================*/
#childhood {
  padding: 148px 0 77px;
}
#childhood .section_title {
  margin: 0 auto 8px;
}
#childhood .caption {
  font-weight: 300;
  font-size: 18px;
  line-height: 34px;
  color: #151618;
  text-align: justify;
  text-align-last: center;
  margin: 0 auto;
  max-width: 70%;
}

/*================================ more_info ================================*/
#more_info {
  background: #ffd372;
  height: 561px;
  display: flex;
  align-items: center;
}
#more_info .left {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 378px;
}
#more_info .right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#more_info .boxes {
  min-height: 70px;
  display: flex;
  align-items: flex-start;
  padding-right: 20px;
  flex-direction: column;
  justify-content: center;
}
#more_info .boxes .title {
  color: #5e5e5e;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  text-align: right;
  text-align-last: right;
  cursor: pointer;
}
#more_info .boxes .caption {
  display: none;
  color: rgba(0, 0, 0, 0.46);
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  text-align: justify;
  text-align-last: right;
}
#more_info .boxes.active {
  border: 2px solid #fff;
  border-radius: 24px;
  padding: 18px 20px;
}
#more_info .boxes.active .title {
  color: #364fc7;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 8px;
}
#more_info .boxes.active .caption {
  display: block;
}
#more_info .left .circle {
  width: 68px;
  height: 74px;
  position: absolute;
  background-image: url(../images/circle.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 24px;
  line-height: 38px;
  color: #fff;
  cursor: pointer;
  opacity: 0.7;
}
#more_info .left .circle.active {
  opacity: 1;
}
#more_info .left .circle1 {
  left: 0;
  top: 60px;
  width: 48px;
  height: 42px;
  font-size: 22px;
}
#more_info .left .circle2 {
  left: 127px;
  top: 100px;
  width: 48px;
  height: 52px;
}
#more_info .left .circle3 {
  left: 199px;
  bottom: 43px;
}
#more_info .left .circle4 {
  right: 0;
  bottom: 94px;
}
#more_info .left .circle5 {
  left: 300px;
  top: -6px;
}
#more_info .left .img_steps {
  display: none;
  position: absolute;
  right: 80px;
}
#more_info .left .img_steps.active {
  display: block;
}
/*================================ participant ================================*/
#participant {
  padding: 97px 0 117px;
}

/*================================ counter ================================*/
#counter {
  padding: 93px 0 130px;
  color: #364fc7;
}
#counter .content > div {
  padding: 0;
  border-left: 1px solid #000;
}
#counter .content > div:last-child {
  border-left: none;
}
#counter .counterTitle,
#counter .counterCaption {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin: 0 auto 8px;
}
#counter .value {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  display: inline-block;
}
#counter .value::after {
  content: "+ ";
}

/*================================ discount ================================*/
#discount .content {
  background: #364fc7;
  border-radius: 24px;
  position: relative;
  z-index: 1;
}
#discount .content .special_discount {
  width: 200px;
  position: absolute;
  left: -15px;
  top: -14px;
  z-index: 10;
  padding: 0;
}
#discount .content .right {
  padding: 40px 106px 40px 0;
  text-align: right;
}
#discount .content .title {
  color: #ffbf00;
  font-family: "pelak";
  font-weight: 800;
  font-size: 22px;
  line-height: 32px;
  text-align: right;
  text-align-last: right;
  margin: 0 0 10px;
}
#discount .content ul {
  padding-right: 14px;
}
#discount .content ul li {
  color: #ffffff;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.8;
  text-align: right;
  text-align-last: right;
  margin: 0 0 10px;
  list-style: disc;
}
#discount .content .subtitle {
  color: rgba(255, 255, 255, 0.62);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  text-align: right;
  text-align-last: right;
  margin: 0 0 17px;
}
#discount .content .callToAction {
  margin: 0 0 17px;
}
#discount .content .timer {
  color: #ffbf00;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 43.9083px -43.9083px 43.9083px rgb(194 194 194 / 10%),
    inset -43.9083px 43.9083px 43.9083px rgb(255 255 255 / 10%);
  backdrop-filter: blur(36.055px);
  border-radius: 1000px;
  width: fit-content;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  mix-blend-mode: color-dodge;
  margin-left: 10px;
}
#countdown {
  margin-left: 10px;
  min-width: 100px;
}
#discount .content .left {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#discount .content .left .discount1 {
  position: absolute;
  top: -5px;
  right: 0;
  animation: myAnim3 6s ease 0s infinite normal forwards;
}
#discount .discount_box {
  position: relative;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 31.6807px -31.6807px 31.6807px rgba(194, 194, 194, 0.1),
    inset -31.6807px 31.6807px 31.6807px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(56.015px);
  border-radius: 1000px;
  padding: 3px 47px;
  text-align: center;
}
#discount .discount_box .original_price {
  text-decoration: line-through;
  color: #ffffff;
  font-weight: 400;
  font-size: 36.1634px;
  line-height: 55px;
  margin: 0 auto;
}
#discount .discount_box .recent_price {
  color: #ffbf00;
  font-weight: 900;
  font-size: 45.1124px;
  line-height: 72px;
  margin: 0 auto;
}
#discount .discount_box .discount2 {
  position: absolute;
  top: 33px;
  left: -2px;
  z-index: 10;
}
@keyframes myAnim3 {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 0;
  }

  10% {
    transform: rotate(2deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  90% {
    transform: rotate(2deg);
  }
}

/*================================ membership ================================*/
#membership {
  padding: 106px 0 0;
}
#membership .container {
  position: relative;
}
#membership .bell {
  width: 94px;
  position: absolute;
  top: 25px;
  right: -45px;
  padding: 0;
}
#membership .content {
  background: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(45px);
  border-radius: 24px;
  position: relative;
  border: 3px solid #fff;
}
#membership .content .right {
  padding: 66px 100px 66px 50px;
}
#membership .content .left {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#membership .title {
  color: #364fc7;
  font-family: "pelak";
  font-weight: 800;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  text-align-last: center;
  margin: 0 auto 9px;
}
#membership .caption {
  color: #414141;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.8;
  text-align: justify;
  text-align-last: right;
  margin: 0 0 24px;
}

/*  forms styles */
#subscribers {
  margin-bottom: 0;
  text-align: center;
}
#membership .form .form-group {
  width: 100%;
  min-height: 75px;
  position: relative;
  text-align: right;
}
#membership .form .form-group label.error {
  margin: 0;
  color: #b10000;
  font-size: 12px;
}
#membership .form .form-control {
  background: rgba(54, 79, 199, 0.08);
  border-radius: 1000px;
  border: none;
  height: 47px;
  width: 100%;
  color: #414141 !important;
  padding: 0 15px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
#membership .form .form-control::placeholder {
  color: #414141;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.5;
}
#membership .callToAction {
  padding: 7px 32px;
}

/* ============ form.step2 styles ============ */
.form.step2 {
  display: none;
  text-align: center;
}
.userInput {
  text-align: center;
  margin: 0 auto 32px;
  direction: ltr;
}
.userInput input {
  width: 50px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #364fc7;
  border-radius: 16px;
  color: #525252;
  text-align: center;
}
.userInput input::placeholder {
  color: #525252;
  opacity: 0.7;
}
.false_number {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-align-last: center;
  color: #525252;
  margin: 0 auto 16px;
}
#editMobile {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #364fc7;
  cursor: pointer;
  border-bottom: 1px solid #364fc7;
  display: block;
  width: fit-content;
  margin: 16px auto 0;
}
.again_box {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #525252;
  margin: 0 auto 32px;
}
#smsTimer {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 0 10px;
}
#sendAgain {
  cursor: pointer;
  margin: 0;
  display: flex;
  align-items: center;
}

/* ============ form.step3 styles ============ */
.form.step3 {
  display: none;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.form.step3 .last_title {
  color: #364fc7;
  font-weight: 800;
  font-size: 30px;
  line-height: 29px;
  text-align: center;
  text-align-last: center;
  margin: 0 auto;
}
/*================================ testimonial ================================*/
#testimonial {
  padding: 104px 0 97px;
}
#testimonial .section_title {
  margin: 0 auto;
}
.testimonial_Swiper .swiper-wrapper {
  height: fit-content;
  padding: 70px 0 90px;
}
/* swiper-slide  */
.testimonial_Swiper .swiper-slide {
  min-height: 180px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 1s;
}
.testimonial_Swiper .swiper-slide .title {
  color: #151618;
  font-weight: 500;
  font-size: 16px;
  line-height: 31px;
  margin: 0 auto;
  text-align: center;
  text-align-last: center;
}
.testimonial_Swiper .swiper-slide .audio_box {
  width: 100%;
  background: rgba(255, 255, 255, 0.24);
  box-shadow: 0px 2.95537px 2.95537px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(45px);
  border-radius: 24px;
  margin: 0 auto 13px;
  padding: 29px;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 9px;
  height: 134px;
}
.testimonial_Swiper .swiper-slide .audio_box .audio {
  width: 100%;
}
.testimonial_Swiper .swiper-slide.swiper-slide-active {
  margin-top: -50px;
  transition: 1s;
}
.testimonial_Swiper .swiper-slide.swiper-slide-active .title {
  color: #364fc7;
}
.testimonial_Swiper .swiper-slide .play_audio {
  width: 40px;
  height: 40px;
  border: 2px solid #364fc7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 9px;
}
.testimonial_Swiper .swiper-slide .play_audio .play_icon,
.testimonial_Swiper .swiper-slide .play_audio .pause_icon {
  width: 20px;
  cursor: pointer;
}
.testimonial_Swiper .swiper-slide .play_audio .pause_icon {
  display: none;
}

/* button-next , button-prev */
.testimonial_Swiper .swiper-button-next,
.testimonial_Swiper .swiper-button-prev {
  bottom: 0;
  top: unset;
  background-image: url(../images/next.png);
  background-repeat: no-repeat;
}
.testimonial_Swiper .swiper-button-next:after,
.testimonial_Swiper .swiper-button-prev:after {
  content: "" !important;
}
.testimonial_Swiper .swiper-button-prev {
  right: 40% !important;
}
.testimonial_Swiper .swiper-button-next {
  left: 40% !important;
  transform: rotate(180deg);
}

/* pagination */
.testimonial_Swiper .swiper-pagination {
  bottom: 13px;
  width: fit-content;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.testimonial_Swiper .swiper-pagination-bullet {
  background: #cfcfcf;
  opacity: 1;
  width: 15px;
  height: 15px;
}
.testimonial_Swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #364fc7;
}
/*================================ #difference ================================*/
#difference .section_title {
  margin: 0 auto 6px;
}
#difference .caption {
  color: #151618;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  text-align-last: center;
  margin: 0 auto 24px;
  max-width: 60%;
}
#difference .video_box {
  width: 640px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
#difference .video_box video {
  max-width: 100%;
  border-radius: 18px;
}
#difference .video_box .play {
  width: 38px;
  position: absolute;
  top: 161px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
  cursor: pointer;
}

/*================================ faq ================================*/
#faq {
  padding: 93px 0 163px;
}
#faq .section_title {
  margin: 0 auto 40px;
}
#faq .accordion-item {
  border: none;
  background: #dce4f5;
  border-radius: 30px;
  margin: 0 0 18px;
}
#faq .accordion-item:last-child {
  margin-bottom: 0;
}
#faq .accordion-header {
  margin: 0;
}
#faq .accordion-button {
  border: none;
  background-color: #dce4f5;
  border-radius: 0;
  color: #364fc7;
  font-weight: 500;
  font-size: 18px;
  line-height: 44px;
  border-radius: 30px;
  padding: 16px 42px;
}
#faq .accordion-button:not(.collapsed) {
  font-weight: 700;
  background-color: #dce4f5;
  box-shadow: none;
  margin-bottom: 8px;
}
#faq .accordion-button:focus {
  border-color: transparent;
  box-shadow: none;
}
#faq .accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
#faq .accordion-item:first-of-type {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
#faq .accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
#faq .accordion-item:last-of-type {
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
#faq .accordion-body {
  color: rgba(54, 79, 199, 0.8);
  font-weight: 500;
  font-size: 18px;
  line-height: 44px;
  text-align: justify;
  text-align-last: right;
  padding: 0 42px 23px 0;
  max-width: 90%;
}
#faq .accordion-button::after {
  width: 30px;
  height: 30px;
  border: 2.25px solid #364fc7;
  border-radius: 50%;
  background-image: url(../images/arrow_down.png);
  background-size: auto;
  background-position: center;
  position: absolute;
  left: 40px;
  filter: invert(21%) sepia(73%) saturate(3410%) hue-rotate(226deg)
    brightness(89%) contrast(74%);
}
#faq .accordion-button:not(.collapsed)::after {
  background-image: url(../images/arrow_down.png);
  transform: rotate(-180deg);
}

/*================================ footer ================================*/
footer {
  background: #364fc7;
}
footer .content {
  padding: 22px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .content .title {
  color: #fff;
  font-family: "pelak";
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-align: right;
  text-align-last: right;
  margin: 0;
}
footer .content .social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
footer .content .social img {
  width: 22px;
  margin-right: 10px;
}
footer .content .social img:nth-child(3) {
  margin-right: 0;
}
footer .copy_right {
  padding: 7px 0;
  background: #142faf;
  text-align: center;
}
footer .copy_right .harmony_logo {
  width: 140px;
}
