/*============== mobile abd tablet ==================*/
@media screen and (max-width: 768px) {
  header.stickyHeader .callToAction {
    font-weight: 700;
    font-size: 12px;
    padding: 10px;
  }
  header.stickyHeader .logo {
    max-width: 160px;
  }

  header {
    display: none;
  }
  .stickyHeader {
    display: block;
    position: fixed;
    top: unset;
    bottom: 0;
    padding: 5px 0;
  }

  /*================================ motion ================================*/
  #meeting .meeting .video-img,
  #meeting .meeting .video-img img {
    height: auto;
  }

  /*================================ package ================================*/
  #package .notzoom:hover {
    transform: unset;
  }

  #package .zoom {
    transform: unset;
  }

  #package .package-items {
    padding: 0 45px;
  }
  #package .p-item {
    background-image: url(../images/packageBgMobile.png);
    margin: 0 auto;
    width: auto;
    height: auto;
    margin-bottom: 16px;
  }
  #package .section-title {
    margin-bottom: 16px;
  }
  #package .p-item .header {
    font-size: 16px;
    margin-bottom: 23px;
  }
  #package .p-item .caption {
    font-size: 14px;
  }

  #package .p-item .pricebox p {
    font-size: 18px;
  }
  #package .p-item .buy {
    font-weight: bold;
    font-size: 11px;
    border-radius: 16px;
    padding: 7px 21px;
  }
  #package .middleBox {
    transform: scale(1);
  }
  #package .p-item .free {
    font-weight: bold;
    font-size: 12px;
    color: #000;
    border-radius: 17px;
    padding: 7px 21px;
  }
  #package .middleBox {
    min-height: 180px;
  }
  #package .middleBox .p-item .caption {
    padding: 0;
  }

  /*================================ register ================================*/
  #register .form-bg {
    text-align-last: center;

    padding: 15rem 1rem 1rem;
  }
  #register .form-bg h3 {
    font-size: 18px;
  }

  #register .form-bg form {
    width: 100%;
  }

  #register .form-bg p {
    text-align: center;

    text-align-last: center;

    font-size: 14px;

    margin: 0 auto;

    width: 100%;
  }

  #register .container {
    background: #293897;
  }

  #register .subscriberImg {
    position: absolute;

    top: -9%;

    right: 77px;

    width: 65%;
  }

  #register .form-group input::placeholder {
    text-align: right;
  }

  /*================================ testimonial ================================*/
  #testimonial .swiper h2 {
    margin-bottom: 1rem;
    font-size: 24px;
  }
  #testimonial .testimonial-slide {
    max-width: 100%;
    padding: 12px;
  }
  #testimonial .swiper-button-next,
  #testimonial .swiper-button-prev {
    display: none;
  }
  #testimonial .testimonial-title {
    display: inline-block;
    margin: 0 auto;
  }
  #testimonial .slideImg {
    display: inline-block;
  }
  #testimonial .comment-text {
    font-size: 12px;
    padding: 8px;
    line-height: 2;
    text-align: justify;
    text-align-last: right;
  }
  #testimonial .t-name {
    font-size: 14px;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  #testimonial .testimonial-slide .slideImg {
    width: 65px;
    margin: 0;
  }
  #testimonial .testimonial-slide {
    min-height: 415px;
    direction: ltr;
    padding: 21px 12px 12px;
  }

  #testimonial .swiper {
    width: 100%;
    height: 572px;
  }
  #testimonial .swiper-slide {
    padding: 0 5px;
    height: 505px;
  }
  #testimonial .testimonialHeader {
    display: flex;
    justify-content: space-between;
  }

  /*================================ faq ================================*/
  #faq {
    margin-bottom: 0;
  }

  #faq .section-title {
    text-align-last: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 16px;
  }
  .accordion-item {
    margin-bottom: 15px;
    padding: 0;
    text-align: center;
    text-align-last: center;
    border-radius: 4px;
  }
  .accordion-item .accordion-button {
    font-size: 12px;
    text-align: right;
    padding: 0 0 0 20px;
  }
  .accordion-item .card-body {
    padding: 0;
    text-align: center;
    text-align-last: center;
    margin: 0 auto;
    padding: 19px 20px;
    max-width: 100%;
  }
  .accordion-header {
    padding: 10px 31px 7px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
  }
  .accordion-button:not(.collapsed)::after,
  .accordion-button::after {
    position: absolute;
    left: -6px;
    filter: brightness(0) invert(1);
  }
  .accordion-button::before {
    left: -9px;
  }
  #faq .accordion .accordion-button:not(.collapsed) span {
    border: none;
  }
  .accordion-item .card-body p {
    text-align: center;
    text-align-last: center;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 0;
  }
  .accordion-item:first-of-type {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .accordion-item:not(:first-of-type) {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  /*================================ faq ================================*/
}

/* other size of viewport */
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 1000px;
    margin: 1.75rem auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
}
