/*============== mobile  ==================*/
@media screen and (max-width: 800px) {
  /*================================ general ================================*/
  .callToAction {
    font-weight: 700;
    font-size: 14px;
    padding: 9px 32px;
    width: auto;
  }
  .callToAction2 {
    font-size: 16px;
    line-height: 16px;
    padding: 10px 0;
  }
  .section_title {
    font-size: 18px;
    margin: 0 auto 26px;
  }
  .section_caption {
    font-size: 14px;
    text-align-last: right;
    margin: 0 auto 24px;
    max-width: 100%;
  }

  /*================================ header ================================*/
  .stickyHeader {
    position: fixed;
    top: unset;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    z-index: 1000;
  }
  header .content {
    padding: 16px 0;
    .title {
      color: #364fc7;
      font-weight: 700;
      font-size: 22px;
      line-height: 32px;
      margin: 0;
      text-align: right;
      text-align-last: right;
    }
    .info {
      width: 100%;
      justify-content: space-between;
      .subtitle {
        font-size: 12px;
        display: flex;
        span {
          margin-left: 5px;
        }
      }
      .callToAction {
        margin-right: 0;
        font-size: 10px;
        padding: 10px 16px;
      }
    }
  }

  /*================================ intro ================================*/
  #intro {
    padding: 17px 16px 40px;
    .title {
      font-size: 18px;
      line-height: 26px;
      margin: 0 auto 8px;
      text-align: center;
      text-align-last: center;
    }
    .caption {
      font-size: 14px;
      margin: 0 auto 18px;
      text-align: justify;
      text-align-last: center;
    }
    .right {
      padding: 5px 25px 43px;
      text-align: center;
      text-align-last: center;
      order: 2;
    }
    .left {
      padding-top: 11px;
      img {
        max-width: 186px;
      }
    }
  }

  /*================================ carts ================================*/
  #carts .section_title {
    margin: 0 auto 40px;
  }
  #carts .content_box {
    padding: 21px 0px 37px;
    margin: 0 auto 75px;
    min-height: 327px;
    .img_box {
      min-height: auto;
      margin: 0 auto 13px;
      align-items: flex-start;
    }
    .title {
      margin: 0 auto 18px;
      max-width: 70%;
    }
  }
  #carts .content_box.active {
    min-height: 327px;

    .img_box {
      margin-top: -50px;
    }
    .title {
      color: #ffffff;
      font-weight: 300;
      font-size: 14px;
      line-height: 27px;
      max-width: 80%;
    }
  }

  /*================================ counter ================================*/
  #counter {
    padding: 40px 0 25px;
    .section_title {
      margin: 0 auto 22px;
    }
    .value {
      font-size: 35px;
      line-height: 52px;
    }
    .counter_box {
      width: 80%;
      margin: 0 auto;
      border-bottom: 1px solid rgba(54, 79, 199, 0.42);
      text-align: center;
      margin-bottom: 20px;
    }
  }
  #counter .content > div {
    padding: 0;
    border-left: none;
  }
  #counter .counterTitle,
  #counter .counterCaption {
    font-size: 16px;
    line-height: 25px;
    margin: 0 auto 15px;
  }
  .counter_box.last_box {
    border-bottom: none;
  }

  /*================================ membership ================================*/
  #membership {
    padding: 60px 0 0;
  }
  #membership .content {
    border-radius: 25px;
  }
  #membership .content .right {
    padding: 25px 15px 0;
    text-align: center;
    margin-bottom: 90px;
  }
  #membership .title {
    text-align: center;
    text-align-last: center;
    margin: 0 auto 12px;
    max-width: 75%;
  }
  #membership .caption {
    font-size: 16px;
    margin: 0 auto 24px;
  }
  #membership .form .form-group {
    min-height: 70px;
    text-align: center;
  }
  #membership .form .form-group:nth-child(2) {
    margin-bottom: 13px;
  }
  #membership .form .form-control {
    text-align: center;
  }
  #membership .form .form-group label.error {
    font-size: 10px;
  }
  #membership .content .left img {
    width: 200px;
  }
  .form.step3 .last_title {
    font-size: 24px;
    margin: 20px auto 0;
  }

  /*================================ testimonial ================================*/
  #testimonial {
    padding: 64px 0 84px;
  }
  .testimonial_Swiper .swiper-slide .title {
    font-size: 12px;
    line-height: 23px;
  }
  .testimonial_Swiper .swiper-wrapper {
    padding: 70px 0 0;
  }
  .testimonial_Swiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
  .testimonial_Swiper .swiper-button-next,
  .testimonial_Swiper .swiper-button-prev {
    width: 20px;
    height: 20px;
  }
  .testimonial_Swiper .swiper-button-prev {
    right: 30% !important;
  }
  .testimonial_Swiper .swiper-button-next {
    left: 30% !important;
  }
  .testimonial_Swiper .swiper-pagination {
    bottom: 5px;
  }

  /*================================ faq ================================*/
  #faq {
    padding: 45px 0 140px;
    .section_title {
      margin: 0 auto 25px;
    }
    .accordion-item {
      border: none;
      border-radius: 18px;
      margin: 0 auto 8px;
    }
    .accordion-item:first-of-type {
      border-top-left-radius: 18px;
      border-top-right-radius: 18px;
    }
    .accordion-button {
      font-size: 12px;
      border-radius: 45px;
      padding: 7px 17px;
    }
    .accordion-button::after {
      width: 20px;
      height: 20px;
      left: 18px;
    }
    .accordion-body {
      font-size: 12px;
      padding: 0 18px 0 0;
      max-width: 90%;
      line-height: 2;
    }
    .accordion-button:not(.collapsed) {
      margin-bottom: 0;
    }
  }

  /*================================ footer ================================*/
  footer .content {
    padding: 11px 0 22px;
    flex-direction: column;
    .title {
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      text-align-last: center;
      margin: 0 auto 18px;
    }
    .social img {
      width: 18px;
      margin-right: 8px;
    }
  }
  .copy_right {
    padding: 10px 0;
    background: #142faf;
    text-align: center;
    .harmony_logo {
      width: 104px;
    }
  }
}

@media screen and (max-width: 375px) {
}

/* Iphone 320 style */
@media screen and (max-width: 350px) {
}

@media screen and (min-width: 800px) and (max-width: 1600px) {
}
