/* font-weight: 300 */
@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: 300;
  src:  /* IE6-8 */ url("./IRANSansX-Light.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./IRANSansX-Light.woff2") format("woff2"); /* FF39+,Chrome36+, Opera24+*/
}


/* font-weight normal */
@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: normal;
  src: /* IE6-8 */ url("./IRANSansX-Regular.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./IRANSansX-Regular.woff2") format("woff2"); /* FF39+,Chrome36+, Opera24+*/
}

/* font-weight bold */
@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: bold;
  src: /* IE6-8 */ url("./IRANSansX-Bold.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./IRANSansX-Bold.woff2") format("woff2"); /* FF39+,Chrome36+, Opera24+*/
}

/* font-weight 800 */
@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: 800;
  src: /* IE6-8 */ url("./IRANSansX-ExtraBold.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./IRANSansX-ExtraBold.woff2") format("woff2"); /* FF39+,Chrome36+, Opera24+*/
}
