@font-face {
    font-family: IRANSansX;
    src: url(./fonts/IRANSansX/IRANSansX-Light.woff);
}


html {
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}


/* nav */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;

}

.nav__logo {
    /* logo-fa 1 */
    width: 114px;
    height: 45px;
    margin-right: 15vw;
    top: 18px;

}

.nav__call {
    margin-left: 15vw;
    border-radius: 110px;
}


.nav__item>img {
    padding: 1rem;
}


.nav__item {
    margin-right: 4rem;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 165.3%;
    /* or 23px */
    color: #727272;
    display: flex;
    align-items: center;
    font-family: IRANSansX
}

.nav__list {
    display: flex;
}

@media screen and (max-width:840px) {
    .nav__item {
        display: none;
    }

    .nav__call {
        margin-left: 10vw;

    }

}


/* header */


.header {
    width: 100vw;
    height: fit-content;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.header__img {
    width: 100vw;
    height: auto;
}

.header__content {

    margin-left: 20vw;
    margin-right: 20vw;

    position: absolute;
    z-index: 5;
    justify-self: center;
    text-align: center;
}

.header__content>h2 {
    font-size: 4vw;
    color: #FFFF;

    margin-bottom: 0;
}

.header__content>h3 {
    font-size: 3vw;
    color: #FFFF;
    font-weight: 400;
    margin-top: 0;
}

.header__but {
    border-radius: 100px;

    background-color: transparent;
    color: #FFFF;
    border: 3px solid #FFFF;
    font-size: 2rem;
    padding: 1.2rem 2.5rem;
    margin-top: 1.5rem;

}

.header__but>img {
    padding-right: 2rem;
}


@media screen and (max-width:500px) {
    .header__content {
        margin: 2rem 5rem;
    }

    .header__img {
        display: block;

    }

    .header__but {

        border: 2px solid #FFFF;
        font-size: 1.5rem;
        padding: 1rem 2rem;
        margin-top: 1rem;
    }

    .header__but>img {
        padding-right: 1rem;
    }
}

/*contact */

.contact {
    width: 100vw;
    height: fit-content;
    position: relative;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;

}

.contact__filter {

    position: absolute;
    right: 0px;
    z-index: 3;
    width: 100vw;
    height: 100%;
    background-color: #082E5F;
    opacity: 0.8;


}

.contact__img {
    padding-left: 15vw;
    padding-right: 15vw;
    height: 100%;
    width: auto;
}

.contact__content {

    column-gap: 12rem;
    margin-left: 17vw;
    margin-right: 17vw;
    position: absolute;
    z-index: 5;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact__form {
    border: 2px solid #24CB5D;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    padding-bottom: 7rem;
}

.contact__input {
    text-align: center;
    border: 0;
    font-size: larger;
    border-radius: 10px;
    width: 30rem;
    height: 5rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.contact__form>p {
    color: #FFFF;
    margin-top: 6rem;
    margin-bottom: 3.5rem;
}

.contact__item {
    display: block;
}

.contact__but {
    background-color: #24CB5D;
    border: 0;
    border-radius: 0 20px 0 9px;
    color: #FFFF;
    bottom: 0;
    left: 0;
    position: fixed;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.contact__but>img {
    width: 1.5rem;
    height: auto;
    margin-right: 0.5rem;
}

.contact__text>p {
    color: #FFFF;
    text-align: right;
}

.contact__text>h3 {
    color: #FFFF;
}

.contact__text {
    width: 32rem;
}

@media screen and (max-width:1150px) and (min-width:800px) {
    .contact__content {
        column-gap: normal;
        margin-left: 20vw;
        margin-right: 20vw;
    }

    .contact__input {

        width: 20rem;
        height: 3rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .contact__form>p {

        margin-top: 4rem;
        margin-bottom: 2rem;
    }

    .contact__form {
        justify-self: center;
        align-self: center;
    }
}

@media screen and (max-width:800px) {
    .contact__content {
        display: block;
        align-self: center;
        position: relative;
        padding: 2rem;
        background-image: url(./images/header-bpo-contact-center\ 1\(1\).png);
        text-align: center;

    }

    .contact__img {
        display: none;
    }
}


/* info */

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #082E5F;
    padding-left: 18vw;
    padding-right: 18vw;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100vw;
    column-gap: 2rem;
}

.info__call {
    display: flex;
    color: #FFFF;
    margin-top: 0.5rem;
    font-family: IRANSansX;
}

.info__phoneCall {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
}

.info__call>img {
    width: 1.5rem;
    height: 2rem;
    margin-left: 2rem;
}

.info__add {
    margin-bottom: 0;
    text-align: right;
}

.info__logo {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.info__social>img {
    padding-left: 1rem;
    padding-top: 1.5rem;
}

.info__map_container {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info__map {

    border-radius: 10px;
    width: 100%;
    height: auto;
}

@media screen and (max-width:800px) {
    .info {
        display: block;
    }

    .info__social {
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
    }

    .info__logo_container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* footer */
.footer {
    background: #24CB5D;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100vw;
}

.footer>img {
    height: 2rem;
    width: auto;
}

/* tour list */

.tour__package {
    margin-bottom: 10rem;
    width: 100%;

}

.tour__list {
    margin-left: 15vw;
    margin-right: 15vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
    column-gap: 4rem;
    row-gap: 4rem;


}


.tour__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.tour__title_group {
    display: flex;
    position: absolute;
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.tour__title_circle {
    margin-right: 2rem;
    margin-left: 2rem;
}

.tour__title_line {

    width: 12rem;
    border-radius: 30px;
    border: 3px solid #0C4DA2;
}

.tour__title_text {
    margin-bottom: 0;
    text-align: center;
}

.tour__title_map {}

.tour {
    border-radius: 10px;
    border: 1px solid #CECECE;
    width: fit-content;
    position: relative;
    align-self: center;
    justify-self: center;
}

.tour>h4 {
    margin-bottom: 2rem;
    margin-right: 2rem;

}

.tour__img {
    border-radius: 10px 10px 0 0;
    margin-bottom: 4rem;
}

.tour__content {

    margin-right: 2rem;
    display: flex;
    margin-bottom: 1rem;


}

.tour__price {
    bottom: 1rem;
    margin-top: 3rem;
    margin-left: 0.3rem;
}

.tour__price>img {
    width: 25px;
    height: 25px;
}

.tour__price>p {
    font-weight: 800;
    font-size: 1.5rem;
    margin-right: 0.3rem;
    margin-bottom: 0;
}

.tour__text {
    margin-right: 1rem;
    margin-bottom: 0;
    margin-left: 1rem;
    text-align: start;
}

.tour__airplane {
    width: 20px;
    height: 15px;
    align-self: center;
}

.tour__duration {
    border-radius: 20px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    background-color: #24CB5D;
    color: #FFFF;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;

    align-items: center;
}

.tour__sale {
    border: 0;
    border-radius: 0 10px 0 10px;
    color: #FFFF;
    background: #C82171;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem 2rem;
}

.tour__but {
    border: 0;
    border-radius: 0 20px 0 10px;
    color: #FFFF;
    background: #0C4DA2;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem 2rem;
}


.tour__but_vector {
    border-radius: 50%;
    margin-right: 1rem;
    padding: 0.5rem;
    border: 1px solid #FFFFFF;
}

@media screen and (max-width:500px) {
    .tour__content {

        margin-right: 1rem;
    }

    .tour__list {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        margin-left: 1rem;
        margin-right: 1rem;
    }

}

/* advertisement sticky */
.ad {
    position: fixed;
    padding: 1rem;
    top: 30rem;
    color: #FFFFFF;
    z-index: 7;
    left: 0;
    text-align: center;
    width: 17rem;
    border-radius: 0 10px 10px 0px;
    background: linear-gradient(180deg, #3DA62C 0%, #15665C 100%);
}

.ad>img {
    margin-bottom: 1rem;
}

.ad__close {
    font-size: 45px;
    font-weight: 600;
    display: inline-block;

    font-size: 20px;
    position: absolute;
    top: 0;
    right: 10px;
}

@media screen and (max-width:750px) {
    .ad {
        display: none;
    }
}

.swiper {
    width: 100vw;
    height: auto;
}