@font-face {
  font-family: "Yekan-Bakh";
  font-weight: 1000;
  font-style: normal;
  src: url("./YekanBakhFaNum08Fat.woff") format("woff"),
    url("./YekanBakhFaNum08Fat.woff2") format("woff2"),
    url("./YekanBakhFa08Fat.woff2") format("woff2"),
    url("./YekanBakhFaNum06Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Yekan-Bakh";
  font-weight: 700;
  font-style: normal;
  src: url("./YekanBakhFaNum06Bold.woff") format("woff"),
    url("./YekanBakhFa06Bold.woff2") format("woff2");
}
