<section class="contact">
    <div class="contact__filter">
    </div>
    <article class="contact__content">
      <div class="contact__text">
        <h3>ما با شما تماس می‌گیریم ...</h3>
        <p>اگر در انتخاب تور دلخواهتون نیاز به کمک دارید ما به شما کمک می‌کنیم.</p>
      </div>
      <div class="contact__form">
        <p>اطلاعات تماس خود را وارد کنید</p>
        <input class="contact__item contact__input" placeholder="نام و نام‌خانوادگی" type="text">
        <input class="contact__item contact__input" placeholder="شماره موبایل" type="number">
        <button class="contact__item contact__but">ثبت
          <img src="./assets/images/Vector 3.png" alt="vector">
        </button>
      </div>
    </article>
    
    
      <img src="./assets/images/header-bpo-contact-center 1.jpg" class="contact__img">
    
    
    </section>











    