<article class="info">
    <div class="info__details">
      <img src="./assets/images/logo-fa 2.png" class="info__logo" alt="">
      <div class="info__call">
        <img src="./assets/images/pin.png" alt="">
        <p class="info__add">تهران - پاسداران - بنش رفیق دوست - ساختمان نیکاگشت</p>
      </div>
      <div class="info__call ">
        <img src="./assets/images/9023670_phone_call_fill_icon 3.png" alt="">
        <div class="info__phoneCall">021-75016</div>
        <div class="info__phoneCall">021-22892212</div>
      </div>
      <div class="info__call">
        <img src="./assets/images/Vector.png" alt="">
        <p>tours@nikagasht.com</p>
      </div>
      <div class="info__social">
        <img src="./assets/images/Group.png" alt="">
        <img src="./assets/images/Vector(1).png" alt="">
        <img src="./assets/images/linkedin.png" alt="">
      </div>
    </div>
    <div class="info__map">
      <img src="./assets/images/image 1.png" alt="office location">
    </div>
  </article>