<nav class="nav">
    <ul class="nav__list">
      <a href="/"><img src="./assets/images/logo-fa.png" alt="logo" class="nav__logo"></a>
        <li class="nav__item">
          <img src="./assets/images/Ellipse 5.png" alt="">
          تور داخلی
          <img src="./assets/images/Vector 5.png" alt="vector">
        </li>
        <li class="nav__item">
          <img src="./assets/images/Ellipse 5.png" alt="">
          تور خارجی
          <img src="./assets/images/Vector 5.png" alt="vector">
        </li>
    </ul>
    <img src="./assets/images/Group 9518.png" alt="phone call" class="nav__call" >
    </nav>