<div class="tour__package">
    <div class="tour__title">
      <div class="tour__title_group">
        <div class="tour__title_line"></div>
        <img class="tour__title_circle" src="./assets/images/Ellipse 3.png" alt="">
        <h4 class="tour__title_text">فهرست تورها</h4>
        <img class="tour__title_circle" src="./assets/images/Ellipse 3.png" alt="">
        <div class="tour__title_line"></div>
      </div>
      
      <img class="tour__title_map" src="./assets/images/Calque 2.png" alt="">
    </div>
    <article class="tour__list">

      <div class="tour">
        <button class="tour__sale">٪ تخفیف ویژه</button>
        <img class="tour__img" src="./assets/images/skylon-tower-500x322 1.png" alt="tower">
        <h4>تور فرانسه هلند بهار 1402</h4>
        <div class="tour__content"><div class="tour__duration">7 روز</div><p class="tour__text">3 شب پاریس + 4 شب آمستردام</p></div>
        <div class="tour__content"><img class="tour__airplane" src="./assets/images/Vector(2).png" alt="airplane">
        <p class="tour__text">تاریخ رفت: 14 فروردین</p>
        </div>
        <div class="tour__content tour__price"><img src="./assets/images/1737376_dollar_money_sign_icon 1.png" alt=""><p>نرخ بلیط: 2500 یورو</p></div>
        <button class="tour__but">مشاهده تور<img class="tour__but_vector" src="./assets/images/Vector 2.png" alt=""></button>
      </div>
      <div class="tour">
        <button class="tour__sale">٪ تخفیف ویژه</button>
        <img class="tour__img" src="./assets/images/skylon-tower-500x322 1.png" alt="tower">
        <h4>تور فرانسه هلند بهار 1402</h4>
        <div class="tour__content"><div class="tour__duration">7 روز</div><p class="tour__text">3 شب پاریس + 4 شب آمستردام</p></div>
        <div class="tour__content"><img class="tour__airplane" src="./assets/images/Vector(2).png" alt="airplane">
        <p class="tour__text">تاریخ رفت: 14 فروردین</p>
        </div>
        <div class="tour__content tour__price"><img src="./assets/images/1737376_dollar_money_sign_icon 1.png" alt=""><p>نرخ بلیط: 2500 یورو</p></div>
        <button class="tour__but">مشاهده تور<img class="tour__but_vector" src="./assets/images/Vector 2.png" alt=""></button>
      </div>
      <div class="tour">
        <button class="tour__sale">٪ تخفیف ویژه</button>
        <img class="tour__img" src="./assets/images/skylon-tower-500x322 1.png" alt="tower">
        <h4>تور فرانسه هلند بهار 1402</h4>
        <div class="tour__content"><div class="tour__duration">7 روز</div><p class="tour__text">3 شب پاریس + 4 شب آمستردام</p></div>
        <div class="tour__content"><img class="tour__airplane" src="./assets/images/Vector(2).png" alt="airplane">
        <p class="tour__text">تاریخ رفت: 14 فروردین</p>
        </div>
        <div class="tour__content tour__price"><img src="./assets/images/1737376_dollar_money_sign_icon 1.png" alt=""><p>نرخ بلیط: 2500 یورو</p></div>
        <button class="tour__but">مشاهده تور<img class="tour__but_vector" src="./assets/images/Vector 2.png" alt=""></button>
      </div>
      <div class="tour">
        <button class="tour__sale">٪ تخفیف ویژه</button>
        <img class="tour__img" src="./assets/images/skylon-tower-500x322 1.png" alt="tower">
        <h4>تور فرانسه هلند بهار 1402</h4>
        <div class="tour__content"><div class="tour__duration">7 روز</div><p class="tour__text">3 شب پاریس + 4 شب آمستردام</p></div>
        <div class="tour__content"><img class="tour__airplane" src="./assets/images/Vector(2).png" alt="airplane">
        <p class="tour__text">تاریخ رفت: 14 فروردین</p>
        </div>
        <div class="tour__content tour__price"><img src="./assets/images/1737376_dollar_money_sign_icon 1.png" alt=""><p>نرخ بلیط: 2500 یورو</p></div>
        <button class="tour__but">مشاهده تور<img class="tour__but_vector" src="./assets/images/Vector 2.png" alt=""></button>
      </div>
      <div class="tour">
        <button class="tour__sale">٪ تخفیف ویژه</button>
        <img class="tour__img" src="./assets/images/skylon-tower-500x322 1.png" alt="tower">
        <h4>تور فرانسه هلند بهار 1402</h4>
        <div class="tour__content"><div class="tour__duration">7 روز</div><p class="tour__text">3 شب پاریس + 4 شب آمستردام</p></div>
        <div class="tour__content"><img class="tour__airplane" src="./assets/images/Vector(2).png" alt="airplane">
        <p class="tour__text">تاریخ رفت: 14 فروردین</p>
        </div>
        <div class="tour__content tour__price"><img src="./assets/images/1737376_dollar_money_sign_icon 1.png" alt=""><p>نرخ بلیط: 2500 یورو</p></div>
        <button class="tour__but">مشاهده تور<img class="tour__but_vector" src="./assets/images/Vector 2.png" alt=""></button>
      </div>
      <div class="tour">
        <button class="tour__sale">٪ تخفیف ویژه</button>
        <img class="tour__img" src="./assets/images/skylon-tower-500x322 1.png" alt="tower">
        <h4>تور فرانسه هلند بهار 1402</h4>
        <div class="tour__content"><div class="tour__duration">7 روز</div><p class="tour__text">3 شب پاریس + 4 شب آمستردام</p></div>
        <div class="tour__content"><img class="tour__airplane" src="./assets/images/Vector(2).png" alt="airplane">
        <p class="tour__text">تاریخ رفت: 14 فروردین</p>
        </div>
        <div class="tour__content tour__price"><img src="./assets/images/1737376_dollar_money_sign_icon 1.png" alt=""><p>نرخ بلیط: 2500 یورو</p></div>
        <button class="tour__but">مشاهده تور<img class="tour__but_vector" src="./assets/images/Vector 2.png" alt=""></button>
      </div>
      <div class="tour">
        <button class="tour__sale">٪ تخفیف ویژه</button>
        <img class="tour__img" src="./assets/images/skylon-tower-500x322 1.png" alt="tower">
        <h4>تور فرانسه هلند بهار 1402</h4>
        <div class="tour__content"><div class="tour__duration">7 روز</div><p class="tour__text">3 شب پاریس + 4 شب آمستردام</p></div>
        <div class="tour__content"><img class="tour__airplane" src="./assets/images/Vector(2).png" alt="airplane">
        <p class="tour__text">تاریخ رفت: 14 فروردین</p>
        </div>
        <div class="tour__content tour__price"><img src="./assets/images/1737376_dollar_money_sign_icon 1.png" alt=""><p>نرخ بلیط: 2500 یورو</p></div>
        <button class="tour__but">مشاهده تور<img class="tour__but_vector" src="./assets/images/Vector 2.png" alt=""></button>
      </div>
      <div class="tour">
        <button class="tour__sale">٪ تخفیف ویژه</button>
        <img class="tour__img" src="./assets/images/skylon-tower-500x322 1.png" alt="tower">
        <h4>تور فرانسه هلند بهار 1402</h4>
        <div class="tour__content"><div class="tour__duration">7 روز</div><p class="tour__text">3 شب پاریس + 4 شب آمستردام</p></div>
        <div class="tour__content"><img class="tour__airplane" src="./assets/images/Vector(2).png" alt="airplane">
        <p class="tour__text">تاریخ رفت: 14 فروردین</p>
        </div>
        <div class="tour__content tour__price"><img src="./assets/images/1737376_dollar_money_sign_icon 1.png" alt=""><p>نرخ بلیط: 2500 یورو</p></div>
        <button class="tour__but">مشاهده تور<img class="tour__but_vector" src="./assets/images/Vector 2.png" alt=""></button>
      </div>
      <div class="tour">
        <button class="tour__sale">٪ تخفیف ویژه</button>
        <img class="tour__img" src="./assets/images/skylon-tower-500x322 1.png" alt="tower">
        <h4>تور فرانسه هلند بهار 1402</h4>
        <div class="tour__content"><div class="tour__duration">7 روز</div><p class="tour__text">3 شب پاریس + 4 شب آمستردام</p></div>
        <div class="tour__content"><img class="tour__airplane" src="./assets/images/Vector(2).png" alt="airplane">
        <p class="tour__text">تاریخ رفت: 14 فروردین</p>
        </div>
        <div class="tour__content tour__price"><img src="./assets/images/1737376_dollar_money_sign_icon 1.png" alt=""><p>نرخ بلیط: 2500 یورو</p></div>
        <button class="tour__but">مشاهده تور<img class="tour__but_vector" src="./assets/images/Vector 2.png" alt=""></button>
      </div>
    </article>
    
  </div>