/* font-weight: 300 */
@font-face {
  font-family: iranYekan;
  font-style: normal;
  font-weight: 300;
  src:  /* IE6-8 */ url("./iranyekanweblightfanum.woff") format("woff"),
    url("./IRANYekanLight.ttf") format("ttf");
}

/* font-weight normal */
@font-face {
  font-family: iranYekan;
  font-style: normal;
  font-weight: normal;
  src: /* IE6-8 */ url("./iranyekanwebmediumfanum.woff") format("woff"),
    url("./IRANYekanMedium.ttf") format("ttf");
}

/* font-weight bold */
@font-face {
  font-family: iranYekan;
  font-style: normal;
  font-weight: bold;
  src: /* IE6-8 */ url("./iranyekanwebboldfanum.woff") format("woff"),
    url("./IRANYekanBold.ttf") format("ttf");
}
