/* font-weight 300 */
@font-face {
  font-family: peyda;
  font-style: normal;
  font-weight: 300;
  src: /* IE6-8 */ url("./peyda-light.ttf")
}

/* font-weight 400 */
@font-face {
  font-family: peyda;
  font-style: normal;
  font-weight: 400;
  src: /* IE6-8 */ url("./Peyda-Regular.ttf")
}

/* font-weight 500 */
@font-face {
  font-family: peyda;
  font-style: normal;
  font-weight: 500;
  src: /* IE6-8 */ url("./Peyda-Medium.ttf")
}

/* font-weight 600 */
@font-face {
  font-family: peyda;
  font-style: normal;
  font-weight: 600;
  src: /* IE6-8 */ url("./Peyda-Medium.ttf")
}

/* font-weight 700 */
@font-face {
  font-family: peyda;
  font-style: normal;
  font-weight: 700;
  src: /* IE6-8 */ url("./Peyda-Bold.ttf")
}

/* font-weight 900 */
@font-face {
  font-family: peyda;
  font-style: normal;
  font-weight: 900;
  src: url("./Peyda-ExtraBold.ttf")
}
